<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
    <appender name="DEBUG" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.base}/logs/media-server.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss:SSS} - %p - %C{1} - %m%n"/>
        </layout>
    </appender>

    <logger name="de.gisdesign">
        <level value="info" />
    </logger>
    <logger name="org.springframework">
        <level value="info" />
    </logger>
    <!--logger name="org.hibernate.SQL">
        <level value="debug" />
    </logger-->

    <root>
        <priority value="info" />
        <appender-ref ref="DEBUG"/>
    </root>
</log4j:configuration>